body {
    background: linear-gradient(to right, #e6f7ff, #ccccff, #f2e6ff);
}

header {
    background: white;
}

nav .bi {
    font-size: 23px;
}

.home-box {
    width: 190px;
    height: 190px;
    text-align: center;
    padding: 0;
    background: white;
    font-size: 17px;
}

.home-box:hover, .documents-list>li:hover {
    background: #fafcff;
}

.home-box>a {
    color: black;
}

.bi {
    font-size: 40px;
    color: black;
}

.graph-area {
    background: white;
    border-radius: 6px;
}

.analysis-button, .analysis-option {
    background: white;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.analysis-button .bi, .analysis-option .bi {
    font-size: 30px;
    color: black;
}

.analysis-buttons-text {
    font-size: 17px;
    color: black;
}

#analyse_document_button {
    background: #2f4fff;
    color: white;
    font-size: 17px;
}

#analyse_document_button:hover {
    background: #0026ff;
}

textarea, .file-area {
    height: 480px !important;
    border-radius: 4px;
    background: white;
    resize: none;
}

.file-area img {
    height: 50px;
    width: auto;
}

h1 {
    font-size: 23px;
    font-weight: bold;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 19px;
}

.documents-list>li {
    border-radius: 5px;
}

.documents-list span, .documents-list div {
    font-size: 14px;
    display: inline-block;
}

.documents-list div {
    color: gray;
}

.box {
    background: white;
    font-size: 16px;
    color: black;
    position: sticky;
}

.archive-box-number {
    font-size: 24px;
}

.document-p {
    font-size: 13px;
    text-align: justify;
}

.document-analysis-result {
    font-size: 15px;
    background: white;
}

.copy-document .bi {
    font-size: 21px;
}

.copy-document .bi:hover {
    color: blue;
}

.table {
    font-size: 14px;
}

.text-modified {
    font-size: 13px;
    font-style: italic;
}

.tooltip-inner {
    background-color: #2f4fff;
    opacity: 1 !important;
    font-size: 16px;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #2f4fff !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #2f4fff !important;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #2f4fff !important;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: #2f4fff !important;
}