{% extends "base.html" %}

{% block title %}
Activities Log
{% endblock %}

{% block main %}
<div class="row justify-content-center table-hover m-0 my-4">
    <div class="col-10">
        <div class="row">
            <h2 class="p-0 mb-4 fw-bold">Log attivit&agrave; svolte</h2>
        </div>
        <div class="row">
            <table class="table table-sm table-hover align-middle">
                <thead>
                    <tr>
                        <th id="timestamp">Timestamp</th>
                        <th id="user">Utente</th>
                        <th id="activity">Attivit&agrave;</th>
                    </tr>
                </thead>
                <tbody class="bg-white text-dark">
                    <tr>
                        <td headers="timestamp">2022-08-09 18:48:22</td>
                        <td headers="user">Nicola Costa</td>
                        <td headers="activity">Eliminazione documento POSITIVO precedentemente salvato in data 2022-07-30 da Nicola Costa</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}