{% extends "base.html" %}

{% block title %}
Analysis Page
{% endblock %}

{% block main %}
<form class="row m-0 my-4" action="{{ url_for('document_analysis') }}" method="POST">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row">
            <div class="col-lg-2 mb-3 p-0 me-lg-2 d-flex align-items-stretch">
                <button class="analysis-button col-12 border shadow-sm" type="button" id="text_button">
                    <span class="bi bi-text-right"></span>
                    <span class="analysis-buttons-text ms-2">Scrivi testo</span>
                </button>
            </div>
            <div class="col-lg-2 mb-3 p-0 d-flex align-items-stretch">
                <button class="analysis-button col-12 border shadow-sm" type="button" id="file_button">
                    <span class="bi bi-file-earmark-text"></span>
                    <span class="analysis-buttons-text ms-2">Carica file</span>
                </button>
            </div>
            <div class="col-lg-3 mb-3 ms-auto p-0 me-lg-2 d-flex align-items-stretch" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Lingua con cui verr&agrave; analizzato il testo">
                <div class="analysis-option col-12 border shadow-sm">
                    <span class="bi bi-globe ms-2"></span>
                    <span class="ms-4">
                        <span class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="analysis_language" value="it" id="analysis_language_it" checked>
                            <label class="form-check-label" for="analysis_language_it">Italiano</label>
                        </span>
                        <span class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="analysis_language" value="en" id="analysis_language_en">
                            <label class="form-check-label" for="analysis_language_en">Inglese</label>
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-lg-2 mb-3 p-0 d-flex align-items-stretch"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Consente di rilevare emozioni come paura, rabbia, tristezza e gioia">
                <div class="analysis-option col-12 border shadow-sm py-2 py-lg-0">
                    <div class="form-check form-switch m-0">
                        <input class="form-check-input me-2" type="checkbox" role="switch" name="switch_feel" id="switch_feel">
                        <label class="form-check-label" for="switch_feel">Trova emozione</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-floating p-0" id="text_area">
                <textarea class="form-control border shadow-sm" placeholder="Scrivere qui il testo da analizzare" name="textarea" id="textarea"></textarea>
                <label for="textarea">Scrivere qui il testo da analizzare</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="file-area col-lg-8 border shadow-sm p-4">
                <div class="row mt-5 justify-content-center">
                    <div class="col-12 mt-5 text-center">
                        <img class="me-lg-2" src="{{ url_for('static', filename='images/pdf_icon.png') }}" alt="icona file pdf" />
                        <img src="{{ url_for('static', filename='images/docx_icon.png') }}" alt="icona file docx" />
                        <img class="mx-lg-2" src="{{ url_for('static', filename='images/txt_icon.png') }}" alt="icona file txt" />
                        <img src="{{ url_for('static', filename='images/rtf_icon.png') }}" alt="icona file rtf" />
                        <img class="ms-lg-2" src="{{ url_for('static', filename='images/odt_icon.png') }}" alt="icona file odt" />
                    </div>
                </div>
                <div class="row mt-5 text-center">
                    <div class="col-12 text-center">
                        <label class="analysis-buttons-text" for="upload_doc">Carica un file PDF, DOCX, TXT, RTF o ODT utilizzando il bottone qui sotto</label>
                    </div>
                </div>
                <div class="row mt-5 justify-content-center">
                    <div class="col-12 col-lg-6 text-center">
                        <input class="form-control" type="file" name="upload_doc" id="upload_doc" accept=".pdf, .docx, .txt, .rtf, .odt" />
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row justify-content-between">
            <button class="col-lg-3 analysis-button border shadow-sm mt-3 mt-lg-4" type="button" id="erase_document_button">
                <span class="bi bi-eraser"></span>
                <span class="analysis-buttons-text ms-2">Cancella e ricomincia</span>
            </button>
            <input class="col-lg-3 analysis-button border border-primary shadow-sm mt-3 mt-lg-4 py-2" type="submit" value="Effettua analisi del Sentiment" id="analyse_document_button" />
        </div>
    </div>
    <div class="col-1"></div>
</form>
{% endblock %}