{% extends "base.html" %}

{% block title %}
Dashboard Darsena Page
{% endblock %}

{% block main %}
<div class="row m-0 justify-content-center">
    <div class="col-12 p-0">
        <p class="upper-advisor m-0 py-2 px-3 text-center">
            I dati utilizzati dai grafici fanno riferimento ai documenti analizzati e salvati nell'<a class="link-dark" href="{{ url_for('archive_page') }}">archivio</a>.
        </p>
    </div>
    <div class="col-11 p-0">
        <div class="row">
            <div class="col-12 col-lg-4 mt-4 mt-lg-5">
                <div class="graph-area border shadow-sm text-center">
                    <div class="row">
                        <p class="m-0 pt-2 fw-bold">Mood generale documenti</p>
                    </div>
                    <div class="row my-4">
                        <div class="col-12" id="darsena_piechart_legend"></div>

                        <div class="col-12"
                        data='{% for data in darsena_piechart_data %}{% if loop.first %}{% raw %}{{% endraw %}{% endif %}"{{ data.sentiment }}":{{ data.numero }}{% if loop.last %}{% raw %}}{% endraw %}{% else %},{% endif %}{% endfor %}' 
                        id="darsena_piechart"></div>

                        <div class="no-data-display fst-italic text-secondary">
                            Ancora nessun dato da visualizzare...
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 mt-4 mt-lg-5">
                <div class="graph-area border shadow-sm">
                    <div class="row">
                        <p class="m-0 px-4 pt-2 fw-bold">Andamento del Mood nel tempo</p>
                    </div>
                    <div class="row my-4">
                        <div class="col-12 d-flex justify-content-center" id="darsena_linechart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

var margin = {top: 10, right: 30, bottom: 30, left: 60},
    width = 750 - margin.left - margin.right,
    height = 380 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#darsena_linechart")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

//Read the data
const datas = [
    {data: 2022-05-12, sent: "positivo", n: 4},
    {data: 2022-06-11, sent: "positivo", n: 5},
    {data: 2022-10-29, sent: "positivo", n: 2},
    {data: 2022-10-30, sent: "positivo", n: 0},
    {data: 2022-05-12, sent: "neutrale", n: 0},
    {data: 2022-06-11, sent: "neutrale", n: 2},
    {data: 2022-10-29, sent: "neutrale", n: 4},
    {data: 2022-10-30, sent: "neutrale", n: 12},
    {data: 2022-05-12, sent: "negativo", n: 1},
    {data: 2022-06-11, sent: "negativo", n: 6},
    {data: 2022-10-29, sent: "negativo", n: 0},
    {data: 2022-10-30, sent: "negativo", n: 0}
];

const sumstat_datas = d3.nest().key(d => d.sent).entries(datas); //raggruppo per sent

const test_x = d3.scaleLinear().domain(d3.extent(datas, d => d.data)).range([0,width]);
svg.append("g").attr("transform", "translate(0," + height + ")").call(d3.axisBottom(test_x).ticks(5));

const test_y = d3.scaleLinear().domain([0, d3.max(datas, d => +d.n)]).range([height, 0]);
svg.append("g").call(d3.axisLeft(test_y));

const test_res = sumstat_datas.map(d => d.key);
const test_color = d3.scaleOrdinal().domain(test_res).range(["#1A85FF", "#ECE839", "#D41159"]);

svg.selectAll(".line").data(sumstat_datas).enter().append("path").attr("fill", "none").attr("stroke", d => test_color(d.key)).attr("stroke-width", 1.5)
.attr("d", d => d3.line().x(d => test_x(d.data)).y(d => test_y(+d.n))(d.values));

/*d3.csv("https://raw.githubusercontent.com/holtzy/data_to_viz/master/Example_dataset/5_OneCatSevNumOrdered.csv", function(data) {

  // group the data: I want to draw one line per group
  var sumstat = d3.nest() // nest function allows to group the calculation per level of a factor
    .key(function(d) { return d.name;})
    .entries(data);

  // Add X axis --> it is a date format
  var x = d3.scaleLinear()
    .domain(d3.extent(data, function(d) { return d.year; }))  //extend prende il minimo e massimo di year, data si compone di year e altro, quindi function per estrarre
    .range([ 0, width ]);
    svg.append("g").attr("transform", "translate(0," + height + ")").call(d3.axisBottom(x).ticks(5));

  // Add Y axis
  var y = d3.scaleLinear()
    .domain([0, d3.max(data, function(d) { return +d.n; })])
    .range([ height, 0 ]);
  svg.append("g")
    .call(d3.axisLeft(y));

  // color palette
  var res = sumstat.map(function(d){ return d.key }) // list of group names
  var color = d3.scaleOrdinal()
    .domain(res)
    .range(['#e41a1c','#377eb8','#4daf4a','#984ea3','#ff7f00','#ffff33','#a65628','#f781bf','#999999'])

  // Draw the line
  svg.selectAll(".line")
      .data(sumstat)
      .enter()
      .append("path")
        .attr("fill", "none")
        .attr("stroke", function(d){ return color(d.key) })
        .attr("stroke-width", 1.5)
        .attr("d", function(d){
          return d3.line()
            .x(function(d) { return x(d.year); })
            .y(function(d) { return y(+d.n); })
            (d.values)
        })

})*/
    
    
</script>
{% endblock %}