{% extends "base.html" %}

{% block title %}
Dashboard Keywords
{% endblock %}

{% block main %}
<div class="modal fade" id="new_keyword_modal" tabindex="-1" aria-labelledby="new_title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border">
            <div class="row justify-content-center">
                <div class="col-10 p-0">
                    <div class="row mt-3">
                        <div class="col-12">
                            <p class="fw-bold mb-0 fs-5" id="new_title">Inserimento nuova parola chiave</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4 d-flex align-items-center">
                                    <label for="keyword_category_selector" class="form-label m-0">Categoria:</label>
                                </div>
                                <div class="col-7">
                                    <select name="keyword_category_selector" id="keyword_category_selector" class="form-select text-uppercase">
                                        <option value="ta1">TA1</option>
                                        <option value="ta2">TA2</option>
                                        <option value="ta3">TA3</option>
                                        <option value="ta4">TA4</option>
                                        <option value="ta5">TA5</option>
                                        <option value="laboratorio">TATTICA: DARSENA LABORATORIO</option>
                                        <option value="cosmopolita">TATTICA: DARSENA COSMOPOLITA</option>
                                        <option value="verde">TATTICA: DARSENA VERDE</option>
                                        <option value="progetto">PROGETTO</option>
                                        <option value="evento">EVENTO</option>
                                        <option value="lista">LISTA TRASVERSALE</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4 d-flex align-items-center">
                                    <label for="keyword_name" class="form-label m-0">Nome:</label>
                                </div>
                                <div class="col-7">
                                    <input type="text" class="form-control" id="keyword_name" name="keyword_name" placeholder="Nome parola chiave" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4 d-flex align-items-center">
                                    <label for="keyword_similar" class="form-label m-0">Parola simile:</label>
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="keyword_similar" name="keyword_similar" placeholder="Nome sinonimo" />
                                </div>
                                <div class="col-1 p-0">
                                    <button class="bg-transparent border-0" id="add_keyword_similar_button">
                                        <span class="add_keyword_similar_button_icon bi bi-plus-circle"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <ul class="list-group p-0" id="similar_keyword_list">
                            </ul>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-12 text-end">
                            <button class="btn btn-outline-dark me-3" data-bs-dismiss="modal">Chiudi</button>
                            <button class="btn btn-primary">Salva e aggiungi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="keyword_filter_modal" tabindex="-1" aria-labelledby="filter_title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border">
            <div class="row justify-content-center">
                <div class="col-10 p-0">
                    <div class="row mt-3">
                        <div class="col-12 d-flex align-items-center">
                            <span class="d-inline bi bi-funnel"></span>
                            <p class="d-inline ms-2 fw-bold mb-0 fs-5" id="filter_title">Filtra per categoria</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <ul class="list-group p-0">
                            <li class="list-group-item border-0">
                                <div class="form-check form-switch m-0">
                                    <input class="form-check-input me-2" type="checkbox" role="switch" name="switch_cat1" id="switch_cat1">
                                    <label class="form-check-label" for="switch_cat1">TA1</label>
                                </div>
                            </li>
                            <li class="list-group-item border-0">
                                <div class="form-check form-switch m-0">
                                    <input class="form-check-input me-2" type="checkbox" role="switch" name="switch_cat2" id="switch_cat2">
                                    <label class="form-check-label" for="switch_cat2">TA2</label>
                                </div>
                            </li>
                            <li class="list-group-item border-0">
                                <div class="form-check form-switch m-0">
                                    <input class="form-check-input me-2" type="checkbox" role="switch" name="switch_cat3" id="switch_cat3">
                                    <label class="form-check-label" for="switch_cat3">TA3</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row my-4">
                        <div class="col-12 text-end">
                            <button class="btn btn-outline-dark me-3" data-bs-dismiss="modal">Chiudi</button>
                            <button class="btn btn-primary">Applica</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mx-0 my-3">
    <div class="col-11">
        <!--filtri-->
        <div class="row">
            <div class="col-12 text-end p-0 d-flex justify-content-end">
                <button class="col-lg-2 col-12 analysis-button border shadow-sm text-uppercase p-2" type="button" data-bs-toggle="modal" data-bs-target="#keyword_filter_modal" id="keyword_filter_button">
                    filtra visualizzazione
                </button>
            </div>
        </div>
        <!--wordcloud-->
        <div class="row mt-3">
            <div class="col-12">
                <div class="row graph-area border shadow-sm text-center">
                    <div class="col-12">
                        <div class="row">
                            <p class="mt-2 mb-0 fw-bold">Wordcloud delle parole chiave</p>
                        </div>
                        <div class="row">
                            <div id="my_dataviz"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--donut parole-->
        <div class="row mt-3">
            <div class="col-12">
                <div class="row graph-area border shadow-sm">
                    <div class="col-12">
                        <div class="row">
                            <p class="mt-2 mb-0 fw-bold text-center">Parole chiave</p>
                        </div>
                        <div class="row row-cols-auto flex-row justify-content-center flex-wrap m-3" id="keywords_space"></div>
                        <hr class="mx-5 my-4" />
                        <div class="row mb-4">
                            <div class="col-12 d-flex justify-content-center">
                                <button class="col-lg-2 analysis-button border border-primary shadow-sm pe-2" type="button" data-bs-toggle="modal" data-bs-target="#new_keyword_modal" id="new_keyword_button">
                                    <span class="bi bi-plus text-white"></span>
                                    <span class="ms-1">Nuova parola</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    
            
</script>
{% endblock %}