{% extends "base.html" %}

{% block title %}
Login Page
{% endblock %}

{% block main %}
<div class="row justify-content-center m-0 mt-5">
    <div class="box col-9 col-sm-8 col-md-6 col-lg-4 border rounded shadow-sm">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 my-4 my-lg-5">
                <div class="row">
                    <h2 class="text-center fw-bold m-0">Login utente</h2>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <label for="login_email" class="form-label">E-mail:</label>
                    </div>
                    <div class="col-12">
                        <input type="email" class="form-control" id="login_email" name="login_email" placeholder="Inserisci e-mail" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label for="login_password" class="form-label">Password:</label>
                    </div>
                    <div class="col-12">
                        <input type="password" class="form-control" id="login_password" name="login_password" placeholder="Inserisci password" />
                    </div>
                </div>
                <div class="row text-center mt-4">
                    <p class="m-0 text-danger fw-bold fst-italic">Errore, credenziali non corrette!</p>
                </div>
                <div class="row justify-content-center mt-4">
                    <button class="col-11 col-sm-6 control-button border shadow-sm">Accedi</button>
                </div>
                <div class="row mt-4 text-center">
                    <p class="m-0">Non sei registrato alla piattaforma?</p>
                </div>
                <div class="row justify-content-center mt-4">
                    <a class="col-11 col-sm-6 control-button border shadow-sm" href="{{ url_for('registration_page') }}">Registrati</a>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
{% endblock %}