{% extends "base.html" %}

{% block title %}
Registration Page
{% endblock %}

{% block main %}
<div class="row justify-content-center m-0 mt-5">
    <div class="box col-9 col-sm-8 col-md-6 col-lg-4 border rounded shadow-sm">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 my-4 my-lg-5">
                <div class="row">
                    <h2 class="text-center fw-bold m-0">Registrazione utente</h2>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <label for="name" class="form-label">Nome:</label>
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Inserisci il tuo nome" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label for="surname" class="form-label">Cognome:</label>
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control" id="surname" name="surname" placeholder="Inserisci il tuo cognome" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label for="registration_email" class="form-label">E-mail:</label>
                    </div>
                    <div class="col-12">
                        <input type="email" class="form-control" id="registration_email" name="registration_email" placeholder="Inserisci l'e-mail" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label for="registration_password" class="form-label">Password:</label>
                    </div>
                    <div class="col-12">
                        <input type="password" class="form-control" id="registration_password" name="registration_password" placeholder="Inserisci una password" />
                    </div>
                </div>
                <div class="row text-center mt-4">
                    <p class="m-0 text-danger fw-bold fst-italic">Errore, email già usata/sbagliata!</p>
                </div>
                <div class="row mt-4">
                    <p class="m-0 fw-bold">Verr&agrave; inviato un messaggio con un link di attivazione delle tue credenziali all'indirizzo e-mail indicato.</p>
                </div>
                <div class="row justify-content-center mt-4">
                    <button class="col-11 col-sm-6 control-button border shadow-sm">Conferma</button>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
{% endblock %}